<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{% block title %}{%endblock%}</title>
    {%block head%}{%endblock%}
  </head>
  <body>
    {%block body%}{%endblock%}
    {%block scripts%}{%endblock%}
  </body>
</html>
