{% extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/preguntas.css">
{%endblock%}

{%block body%}
<h1>MateAzar</h1>

<div id="app">
  <div id="wrapper">

    <h2>Pragunta [[ index + 1  ]] de [[ json.length ]] </h2>

    <video controls autoplay v-on:ended="nextQuestion" v-bind:src="'/media/' + [[ json[index].fields.video ]]" id="myVideo">
    </video>

    <div class="buttons">
      <button v-on:click="previousQuestion">Anterior</button>
      <button v-on:click="nextQuestion">Siguiente</button>
    </div>

  </div>

  <div id="container">

  </div>
</div>

<script type="text/javascript">
  var info = '{{ data|safe }}';
  var json = JSON.parse(info);

  var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(json));

  var a = document.createElement('a');
  a.href = 'data:' + data;
  a.download = 'data.json';
  a.innerHTML = 'download JSON';

  var container = document.getElementById('container');
  container.appendChild(a);
</script>


{%endblock%}

{%block scripts%}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>

<script type="text/javascript">
  new Vue({
    el: '#app',
    data(){
      return {json, index:0, video:'/media/'}
    },
    delimiters: ["[[","]]"],
    methods:{
      nextQuestion: function(){
        if (this.index < this.json.length-1){
          this.index += 1;
          this.video ='/media/' + this.json[this.index].fields.video;
        }
      },
      previousQuestion: function(){
        if (this.index > 0){
          this.index -= 1;
          this.video = '/media/' + this.json[this.index].fields.video;
        }
      }
    }
  })
</script>

{%endblock%}
