{% extends 'base.html' %}

{%block head%}
<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/home.css">
{%endblock%}

{%block body%}
<h1>MateAzar</h1>

<div id="app">
  <div id="wrapper">
  {% include "preguntas.html" %}
  </div>
</div>


{%endblock%}
