<div class="preguntas">
  <form class="" action="/" method="post">
    {% csrf_token %}

    <div class="field-wrap">
      <label for="nivel">Nivel del difucultad:</label>
      <select id="nivel" name="nivel" class="element">
       <option value="1">Nivel 1</option>
       <option value="2">Nivel 2</option>
       <option value="3">Nivel 3</option>
       <option value="4">Nivel 4</option>
       <option value="5">Nivel 5</option>
       <option value="0">Todos</option>
      </select>
    </div>
    <!--
    <label for="duracion">Duración de la prueba (minutos):</label>
    <input type="number" name="duracion" id="duracion" value="25">
  -->
    <div class="field-wrap">
      <label for="tipo">Clase de vídeos:</label>
      <select id="tipo" name="tipo" class="element">
        <option value="E">Estáticos</option>
        <option value="D">Dinámicos</option>
        <option value="T">Todos</option>
      </select>
    </div>

    <div class="field-wrap">
      <label for="preguntas">Número de preguntas</label>
      <input type="number" name="preguntas" id="preguntas" class="element" value="10">
    </div>

    <button type="submit" name="button">Crear partida</button>
  </form>
</div>
