* {
box-sizing: border-box;
}

body{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background-color: #fefefe;
  background-image: linear-gradient(-45deg, #009688 0%, #3F51B5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

h1{
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
