#wrapper{
  width: 400px;
   max-width: 100%;
   min-height: 400px;
   margin: 40px auto;
   position: relative;
   border: 1px solid #eee;
   border-radius: 3px;
   padding: 40px 20px;
   font-size: 0.85em;
   -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
   background-color: #f4f7fc;
   position: relative;
 transition: all ease-in 0.25s;
}


form {
  overflow: overlay;
  margin-top: 30px; }

label {
  display: inline-block;
min-width: 20%; }

.field-wrap{
  margin-bottom: 1.5em;
}

.element{
  position: relative;
  width: 100%;
  margin: 10px 0 30px;
}
